.poster {
  height: 552px;
  position: relative;
  flex: 0 20%;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}

.poster-data {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  padding: 20px;
  position: absolute;
  top: 0;
  color: black;
}

.poster-data-background {
  background: white;
  position: absolute;
  width: 334px;
  height: 501px;
  z-index: -1;
  margin-left: -20px;
  margin-top: -29px;
  opacity: 0.8;
}

.poster-data:hover {
  display: flex;
}

.poster-title {
  font-size: 2rem;
  font-weight: 600;
}

.poster-description {
  font-size: 1rem;
}

.backdrop {
  position: absolute;
}

.poster-img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: relative;
}
