@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: Poppins, sans-serif;
     scroll-behavior: smooth;
}

:root {
     --primary-color: #192a56;
}

body {
     background-color: var(--primary-color);
     background: url("./../assets/img/background.png");
     background-size: cover;
     background-repeat: no-repeat;
}

.overlay {
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     background-color: hsla(0, 0%, 0%, 0.452);
}
