.movie_backdrop {
     overflow: hidden;
     position: absolute;
     z-index: -1;

     .overlay {
          background-color: rgba(#000000, 0.6);
          z-index: 1;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
     }

     img {
          width: 100vw;
          height: 100vh;
          position: relative;
     }
}

.movie_content {
     z-index: 3;
     padding: 4rem;
     display: flex;

     .movie_poster {
          height: 750px;
          border: 1px solid rgba(white, 0.5);
     }

     .imdb {
          margin-top: 5px;
          width: 50px;
     }
}

.movie_information {
     margin-left: 1rem;
     width: 50%;
     color: white;

     h1 {
          font-size: 2rem;
     }
     h3 {
          font-size: 1.5rem;
     }
}

.go_back {
     position: absolute;
     color: white;
     z-index: 5;
     left: 4rem;
     top: 15px;
     font-size: 1.1rem;
     text-decoration: none;

     i {
          font-size: 1.3rem;
     }
}

.genres {
     display: flex;
     li {
          list-style: none;
          font-size: 0.6rem;
          background-color: rgb(124, 121, 121);
          padding: 3px 5px;
          border-radius: 5px;
          margin-right: 6px;
     }
}

.tagline {
     font-size: 0.7rem;
     margin: -8px 0px 5px 5px;
}
